@font-face {
  font-family: "franklin";
  src: url("/fonts/franklin-italic-300.woff2") format("woff2"),
    url("/fonts/franklin-italic-300.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "franklin";
  src: url("/fonts/franklin-italic-500.woff2") format("woff2"),
    url("/fonts/franklin-italic-500.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "franklin";
  src: url("/fonts/franklin-italic-600.woff2") format("woff2"),
    url("/fonts/franklin-italic-600.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "franklin";
  src: url("/fonts/franklin-italic-700.woff2") format("woff2"),
    url("/fonts/franklin-italic-700.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "franklin";
  src: url("/fonts/franklin-italic-800.woff2") format("woff2"),
    url("/fonts/franklin-italic-800.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "franklin";
  src: url("/fonts/franklin-normal-300.woff2") format("woff2"),
    url("/fonts/franklin-normal-300.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "franklin";
  src: url("/fonts/franklin-normal-500.woff2") format("woff2"),
    url("/fonts/franklin-normal-500.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "franklin";
  src: url("/fonts/franklin-normal-600.woff2") format("woff2"),
    url("/fonts/franklin-normal-600.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "franklin";
  src: url("/fonts/franklin-normal-700.woff2") format("woff2"),
    url("/fonts/franklin-normal-700.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "franklin";
  src: url("/fonts/franklin-normal-800.woff2") format("woff2"),
    url("/fonts/franklin-normal-800.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "cheltenham";
  src: url("/fonts/cheltenham-normal-200.woff2") format("woff2"),
    url("/fonts/cheltenham-normal-200.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal p,
.reveal section,
.reveal li {
  font-family: franklin;
}

.reveal h1 {
  font-family: cheltenham;
}

.side-by-side {
  width: 45%;
}

code.error-message {
  display: block;
  background-color: rgba(255, 0, 0, 0.2);
  color: rgba(255, 50, 50, 0.8);
  font-size: 2rem;
}

code {
  font-size: 0.8em;
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.reveal pre,
.reveal pre > code {
  border-radius: 0.5rem;
}

.reveal pre > code {
  padding: 1rem;
}
